{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> conversion app</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="container">
        {% if messages %}           
            {% for message in messages %}
            {{ message }}
            {% endfor %}            
        {% endif %}
        <h2>Text-to-Number Conversion App</h2>
        <form id="form">
    
            <!-- <h3>Enter textual number</h3> -->
            <input type="text" id="Input" placeholder="Textual number" ><br>
            <button type="submit">CONVERT</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>